<html>
<h2>Facial Emotion Recognition</h2>
   <body>
      <form action = "http://192.168.0.20:5003/" method = "POST"
         enctype = "multipart/form-data">
         <input type = "file" name = "file" />
         <input type = "submit"/>
      </form>
   </body>
</html>





<!--&lt;!&ndash;<h2>Facial Emotion Recognition</h2>&ndash;&gt;-->
<!--&lt;!&ndash; <div>&ndash;&gt;-->
<!--&lt;!&ndash;   <form action="http://192.168.1.241:5003/" method="POST">&ndash;&gt;-->
<!--&lt;!&ndash;   <label for="file">Choose file to upload</label>&ndash;&gt;-->
<!--&lt;!&ndash;   <input type="file" id="image" name="image" multiple>&ndash;&gt;-->
<!--&lt;!&ndash;   <button>Submit</button>&ndash;&gt;-->
<!--&lt;!&ndash;   </form>&ndash;&gt;-->
<!--&lt;!&ndash; </div>&ndash;&gt;-->


<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--    <h2>Facial Emotion Recognition</h2>-->
<!--<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />-->
<!--<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
<!--<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>-->
<!--<meta charset=utf-8 />-->
<!--&lt;!&ndash;<title>JS Bin</title>&ndash;&gt;-->
<!--&lt;!&ndash;[if IE]>-->


<!--  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>-->
<!--<![endif]&ndash;&gt;-->
<!--<style>-->
<!--  article, aside, figure, footer, header, hgroup,-->
<!--  menu, nav, section { display: block; }-->
<!--</style>-->
<!--</head>-->
<!--<body>-->
<!-- <div>-->
<!--   <form action="http://192.168.1.241:5003/" method="POST">-->
<!--   <label for="file">Choose file to upload</label>-->
<!--   <input type="file" id="image" name="image" multiple>-->
<!--   <button>Submit</button>-->
<!--&lt;!&ndash;<input type='file' onchange="readURL(this);" />&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;    <img id="blah" src="#" alt="your image" />&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash; &ndash;&gt;&ndash;&gt;-->
<!--</body>-->
<!--</html>-->
<!--<script>-->
<!--function readURL(input) {-->
<!--            if (input.files && input.files[0]) {-->
<!--                var reader = new FileReader();-->

<!--                reader.onload = function (e) {-->
<!--                    $('#blah')-->
<!--                        .attr('src', e.target.result)-->
<!--                        .width(150)-->
<!--                        .height(200);-->
<!--                };-->

<!--                reader.readAsDataURL(input.files[0]);-->
<!--            }-->
<!--        }-->
<!--</script>-->